
@{
    ViewBag.Title = "DeliveryInfo";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



@model pet_box.ViewModels.DeliveryInfoViewModel


@section DeliveryInfoTop{
    <style>
        .closableFooterDiv {
            
            position: fixed;
            background-color: bisque;
            color: black;
            left: 0px;
            padding: 16px;
           
            bottom: 0px;
            height: 20%;
            width: 100%;
            text-align: center;
            z-index: 100;
            display: none;
        }


        .myCloseButtonClass {
            display: inline-block;
            position: absolute;
            right: 0px;
            top: 0px;
            padding: 0;
            border: none;
            background: none;
            font-size: 24px;
            width: 5%;
            height: auto;
            z-index: 101;
        }
    </style>
}


<div class="container">
    <h2 style="text-align:center;">訂單明細</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="font-size:20px;">商品名稱</th>
                <th style="font-size:20px;">數量</th>
                <th style="font-size:20px;">單價</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.itemList) {
                <tr>
                    <td style="font-size:20px;">@item.ProductName</td>
                    <td style="font-size:20px;">@item.Quantity</td>
                    <td style="font-size:20px;">@item.UnitPrice.ToString("F0")</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td style="font-size:20px;">總價： @Model.PriceTotal.ToString("F0")</td>
            </tr>
        </tfoot>
    </table>
</div>

<form class="form-horizontal" method="post">
    @*<input type="hidden" name="CustomerID" value="@Model.CustomerID" />*@
    <input type="hidden" name="customer.CustomerID" value="@Model.customer.CustomerID" />
    @*<input id="CustomerID" name="CustomerID" type="hidden" value="@Model.CustomerID">*@
    <fieldset>

        <!-- Form Name -->
        <legend>收件人聯絡資訊</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput" style="font-size:20px;">姓名</label>
            <div class="col-md-4">
                <input id="textinput" name="customer.CustomerName" type="text" placeholder="placeholder" class="form-control input-md" value="@Model.customer.CustomerName" required>
                @*<span class="help-block">姓名</span>*@
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput" style="font-size:20px;">地址</label>
            <div class="col-md-4">
                <input id="textinput" name="customer.CustomerAddress" type="text" placeholder="placeholder" class="form-control input-md" value="@Model.customer.CustomerAddress" required>
                @*<span class="help-block">地址</span>*@
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput" style="font-size:20px;">聯絡電話</label>
            <div class="col-md-4">
                <input id="textinput" name="customer.CustomerMobilePhone" type="text" placeholder="placeholder" class="form-control input-md" value="@Model.customer.CustomerMobilePhone" required>
                @*<span class="help-block">聯絡電話</span>*@
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput" style="font-size:20px;">電子郵件</label>
            <div class="col-md-4">
                <input id="textinput" name="customer.CustomerEmail" type="text" placeholder="placeholder" class="form-control input-md" value="@Model.customer.CustomerEmail" required>
                @*<span class="help-block">電子郵件</span>*@
            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            @*<label class="col-md-4 control-label" for="button1id">Double Button</label>*@
            <div class="col-md-8" style="text-align:center;">
                <button id="button2id" name="okOrCancel" class="btn btn-primary" value="backToshoppingCart" formnovalidate="formnovalidate"><span class="glyphicon glyphicon-arrow-left"></span> 回購物車</button>
                @*<a href="/Test/ShoppingCart" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-arrow-left"></span> 回購物車</a>*@
                <button id="button1id" name="okOrCancel" class="btn btn-success" value="ok">確認</button>

            </div>
        </div>

    </fieldset>
</form>



<div class="closableFooterDiv">
    <div class="row">
        <div class="col-sm-12">
            <p>註冊成為會員好處多多喔，像是客制化寵物屋，訂單追蹤等會員獨享功能。</p>

            <p>收件人相關資訊都會幫你填好喔。</p>

            <button id="closeBtn" type="button" class="myCloseButtonClass" onclick="CloseFooterFun();"> <span class="glyphicon glyphicon glyphicon-remove"></span></button>
            <a href="/Customer/Register" class="btn btn-default " onclick="CloseFooterFun();">
                <span class="glyphicon glyphicon-registration-mark"></span>
                @*<button id="registerBtn" name="" class="categoryChooser btn btn-primary" value="" formnovalidate="formnovalidate" onclick=""><span class="glyphicon glyphicon glyphicon-registration-mark"></span> </button>*@
                點我註冊
            </a>
            
            <button id="cancelBtn" name="" class="categoryChooser btn btn-default" value="" formnovalidate="formnovalidate" onclick="CloseFooterFun();"><span class="glyphicon glyphicon glyphicon-remove"></span> 不，謝了</button>

        </div>
    </div>


</div>

<script>

        CheckCustomerLoginFun();

        function CloseFooterFun() {
            var targetElement = document.querySelector(".closableFooterDiv");
            targetElement.style.display = "none";
        }


        function CheckCustomerLoginFun() {
            if (window.XMLHttpRequest) { // Mozilla, Safari,...
                httpRequestLoginStatus = new XMLHttpRequest();
                if (httpRequestLoginStatus.overrideMimeType) {
                    httpRequestLoginStatus.overrideMimeType('text/xml');
                }
            } else if (window.ActiveXObject) { // IE
                try {
                    http_requestLoginStatus = new ActiveXObject("Msxml2.XMLHTTP");
                } catch (e) {
                    try {
                        http_requestLoginStatus = new ActiveXObject("Microsoft.XMLHTTP");
                    } catch (e) { }
                }
            }
            //----

            if (!httpRequestLoginStatus) {
                alert('Giving up : Cannot create an XMLHTTP instance');
                return false;
            }


            httpRequestLoginStatus.onreadystatechange = GetLoginStatus;


            httpRequestLoginStatus.open('GET', '/OptionalItem/CheckCustomerLogin');
            // send as a form post?
            httpRequestLoginStatus.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            // send as a form post, assing `name` attribute
            httpRequestLoginStatus.send();
        }






        function GetLoginStatus() {
            if (httpRequestLoginStatus.readyState === XMLHttpRequest.DONE) {
                if (httpRequestLoginStatus.status === 200) {

                    if (httpRequestLoginStatus.responseText == "1") {

                        var targetElement = document.querySelector(".closableFooterDiv");
                        targetElement.style.display = "block";
                    }


                } else {
                    alert('There was a problem with the request.');
                }
            }
        }

</script>





