
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model pet_box.Models.PartialListModel


<h2>您的購物清單</h2>

<form class="form-horizontal" method="post">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-4">產品名稱</th>
                    <th class="col-sm-2">數量</th>

                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.PartialList.Count; i++) {
                    
                    <input type="hidden" name="PartialList[@i].PartialListProductImgLocation" value="@Model.PartialList[i].PartialListProductImgLocation" />
                    <input type="hidden" name="PartialList[@i].PartialListProductName" value="@Model.PartialList[i].PartialListProductName" />
                    <input type="hidden" name="PartialList[@i].PartialListProductId" value="@Model.PartialList[i].PartialListProductId" />
                   
                    
                    <tr>
                        
                        <td class="col-sm-4">@Model.PartialList[i].PartialListProductName</td>
                        <td class="col-sm-6">
                            <span class="col-sm-3">
                                
                                <input type="number" id="quantity" name="PartialList[@i].PartialListProductBuyQuantity"
                                       placeholder="" step="1" min="1" max="5"
                                       value="@Model.PartialList[i].PartialListProductBuyQuantity" />

                            </span>
                            <span class="col-sm-9">

                                
                                <button id="deleteItem" name="deleteBtn" class="btn btn-danger" value="@Model.PartialList[i].PartialListProductId" formaction="/Test/CartItemDelete/@Model.PartialList[i].PartialListProductId" formmethod="post">刪除</button>
                            </span>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>



    <fieldset>
        <!-- Button (Double) -->
        <div class="form-group">
            @*<label class="col-md-4 control-label" for="button1id">Double Button</label>*@
            <div class="col-md-8">
                <button id="button1id" name="okOrCancel" class="btn btn-success" value="ok">確認</button>
                <button id="button2id" name="okOrCancel" class="btn btn-danger" value="cancel">取消</button>
            </div>
        </div>

    </fieldset>
</form>
