
@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@model pet_box.Models.PartialListModel




<style>
    .myImageClass {
        height: 100px;
    }


    .col-sm-7 {
        width: auto;
    }

    .table > tbody > tr > td {
        vertical-align: middle;
    }

    input[type="number"] {
        width: 5em;
    }
</style>


<h2>您的購買清單</h2>

<form class="form-horizontal" method="post">
    <input id="prodId" name="returnUrl" type="hidden" value="@this.Request.UrlReferrer.PathAndQuery">

    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-2">產品</th>
                    <th class="col-sm-3">縮圖</th>
                    <th class="col-sm-7"><div class="col-sm-3">數量</div></th>

                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < Model.PartialList.Count; i++) {
                    <input type="hidden" name="PartialList[@i].PartialListProductImgLocation" value="@Model.PartialList[i].PartialListProductImgLocation" />
                    <input type="hidden" name="PartialList[@i].PartialListProductName" value="@Model.PartialList[i].PartialListProductName" />
                    <input type="hidden" name="PartialList[@i].PartialListProductId" value="@Model.PartialList[i].PartialListProductId" />
                    <input type="hidden" name="PartialList[@i].PartialListProductUnitPrice" value="@Model.PartialList[i].PartialListProductUnitPrice" />



                    <tr class="">
                        <td class="col-sm-2">
                            @Model.PartialList[i].PartialListProductName
                        </td>
                        <td class="col-sm-3">
                            <img class="myImageClass" src="@Model.PartialList[i].PartialListProductImgLocation" />
                        </td>
                        <td class="col-sm-7">
                            <div class="col-sm-3 myInputNumberClass">

                                <input type="number" id="quantity" name="PartialList[@i].PartialListProductBuyQuantity"
                                       placeholder="" step="1" min="1" max=""
                                       value="@Model.PartialList[i].PartialListProductBuyQuantity"
                                       size="10" />

                            </div>
                            <span class="col-sm-7">
                                <button id="deleteItem" name="deleteBtn" class="btn btn-danger" value="@Model.PartialList[i].PartialListProductId" formaction="/OptionalItem/CartItemDelete/@Model.PartialList[i].PartialListProductId" formmethod="post">刪除</button>
                            </span>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </div>



    <fieldset>
        <!-- Button (Double) -->
        <div class="form-group">
            @*<label class="col-md-4 control-label" for="button1id">Double Button</label>*@
            <div class="col-md-8">
                @*<a href="javascript:history.back()" class="btn btn-primary btn-default"><span class="glyphicon glyphicon-arrow-left"></span> 繼續購買</a>*@
                <button id="button2id" name="okOrCancel" class="btn btn-info" value="continue"><span class="glyphicon glyphicon-arrow-left"></span> 繼續購買</button>
                <button id="button1id" name="okOrCancel" class="btn btn-success" value="ok">確認</button>

            </div>
        </div>

    </fieldset>
</form>
