@model pet_box.Models.Opinion
@{
    ViewBag.Title = "Customerservice2";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<h2>客服回應</h2>

<br />

<form method="post">

    @Html.HiddenFor(model => model.OpinionID)
    @Html.HiddenFor(model => model.CustomerID)
    @Html.HiddenFor(model => model.ProductID)
    @Html.HiddenFor(model => model.OpinionDateTime)
    @Html.HiddenFor(model => model.OpinionTitle)

    客戶資料<br />
    <br />
    姓名:@Model.Customer.CustomerName<br />
    帳號:@Model.Customer.CustomerLoginName<br />

    <br />

    <br />

    發問時間:@Model.OpinionDateTime<br />

    問題標題:@Model.OpinionTitle<br />
    
    <br />

    <textarea readonly id="OpinionContent" name="OpinionContent" placeholder="" rows="4" cols="50">@Model.OpinionContent</textarea>
    <br />

    <br />

    <h3>客服回應</h3><br />


    <textarea id="OpinionFeedback" name="OpinionFeedback" placeholder="" rows="4" cols="50">@Model.OpinionFeedback</textarea>

    <br />

    <input type="hidden" name="OpinionStatus" value="1" />

    <input type="hidden" name="EmployeeID" value="4" />

    <input type="submit" value="送出" />

</form>




