@model pet_box.Models.Opinion
@{
    ViewBag.Title = "MemberQA";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2 style="text-align:center">問題回應</h2>

<br />

<form method="post" style="text-align:center">

    @Html.HiddenFor(model => model.OpinionID)
    @Html.HiddenFor(model => model.OpinionDateTime)

    <h4> 問題標題:</h4><input type="text" name="OpinionTitle" style="font-size:30px;border:2px inset black" value="@Model.OpinionTitle" /><br />

    <br />
    <h4>回應:</h4>
    <textarea id="OpinionFeedback" name="OpinionFeedback" style="font-size:10px;border:2px solid black" placeholder="" rows="10" cols="100">@Model.OpinionFeedback</textarea><br />

    <input type="hidden" name="OpinionStatus" value="0" />
    <input type="hidden" name="EmployeeID" value="1" />

    <input type="hidden" name="CustomerID" value="@Session["CustomerID"]" />
    <input type="hidden" name="ProductID" value="1" />

    <br />

    <input type="submit" value="送出" />

</form>